body {
	font-family: 'Source Sans Pro', sans-serif !important;
	color: #53777A !important;
}

h1 {
	/*font-family: 'Great Vibes', cursive !important;*/
	font-family: 'Alex Brush', cursive !important;
}

a {
	color: #BCE8F1 !important;
}

a:hover,
a:focus {
	color: #23527c !important;
}

a, 
a:hover, 
a:active {
	text-decoration: none !important;
}

footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.height-adjust {
	height: 25vh;
	position: relative;
}

.center-all {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 25px;
}

.box1 {
	background-color: #ECD078;
}

.box2 {
	background-color: #D95B43;
}

.box3 {
	background-color: #C02942;
}

.box4 {
	background-color: #542437;
}

.box5 {
	background-color: #53777A;
}

.show-it {
	position: absolute;
	z-index: 1;
}

.show-it div {
	position: relative;
}

.show-it img {
	width: 100%;
}

.show-it span {
	display: inline-block;
	width: 100%;
	color: firebrick;
	padding: 10px;
	background-color: #F1E88E;
	margin-top: 10px;
}

.show-it span a {
	color: blue !important;
	display: inline-block;
}

.close-it {
	display: none;
}

#thumb-div {
	width: 50%;
	top: 10%;
	left: 25%;
}

#thumb-bg-div {	
	background-color: black;
	position: absolute;
	opacity: 0.6;
	width: 100%;
	height: 100%;
}

@media screen and (min-device-width: 320px) and (max-device-height: 800px) and (orientation: portrait) {
	#thumb-div {
		width: 80%;
		top: 10%;
		left: 10%;
	}
}

/* Fontawesome override */
i[class*="fa-chevron-"] {
	font-size: 50px;
	top: 30%;
	position: absolute;
	color: rgba(0,0,0,0.2);
	cursor: pointer;
}

i.fa-chevron-circle-left {
	left: -12%;
}

i.fa-chevron-circle-right {
	right: -12%;
}

i[class*="fa-chevron-"]:hover,
i[class*="fa-chevron-"]:focus {
	color: rgba(0,0,0,1);
}

/* Bootstrap override */

.list-inline>li {
	padding: 5px !important;
}

.carousel-control.left,
.carousel-control.right {
	background-image: none !important;
}

.carousel-control:focus, 
.carousel-control:hover {
	color: #5B82BD;
}

.carousel-control {
	color: #31708F;
}